@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  h1, h2, h3, h4, h5, h6, span {
      color:black;
      text-align: center;
      line-height: 1.25;
  }

  p{
      line-height: 1.5;
      font-size: 16px;
  }


  /* 
  
    NAVIGATION BAR 
  
  */

  nav{
      height: 100px;
      width: 100%;
      max-width: 1000px;
      display: flex;
      margin: 0 auto;
      align-items: center;
      justify-content: space-between;
  }

  li{
      list-style-type: none;
  }

  .nav__link_list{
      display: flex;
      gap: 1.5rem;
  }

  .nav__link--anchor{
    color: rgb(27, 25, 25);
    font-weight: 700;
    text-decoration: none;
}

.nav__link--anchor-primary{
    background-color: blueviolet;
    padding: 8px 20px;
    border-radius: 20px;
    color: white;
    transition: all 300ms ease;
}

.nav__link--anchor-primary:hover{
    background-color: rgb(84, 107, 237);
}

.personal__logo{
    font-weight: bold;
    font-size: 1.3rem;
    margin: 0 1rem;
    color: rgb(70, 39, 194);
}


  /* 
  
    END OF THE NAVIGATION BAR
  
  */


  
  /* 
  
    BODY PART  

  */






   /* 
  
    END OF THE BODY PART  
  */